<ul class='clearfix'>
  	<li><a href="http://www.johnmahowald.com" target='blank'>About</a></li>
  	<li><a href="http://www.johnmahowald.com" target='blank'>Help</a></li>
  	<li><a href="http://www.johnmahowald.com" target='blank'>Blog</a></li>
  	<li><a href="http://www.johnmahowald.com" target='blank'>Status</a></li>
  	<li><a href="http://www.johnmahowald.com" target='blank'>Jobs</a></li>
  	<li><a href="http://www.johnmahowald.com" target='blank'>Terms</a></li>
  	<li><a href="http://www.johnmahowald.com" target='blank'>Privacy</a></li>
  	<li><a href="http://www.johnmahowald.com" target='blank'>Cookies</a></li>
  	<li><a href="http://www.johnmahowald.com" target='blank'>Ads Info</a></li>
  	<li><a href="http://www.johnmahowald.com" target='blank'>Brand</a></li>
  	<li><a href="http://www.johnmahowald.com" target='blank'>Advertise</a></li>
  	<li><a href="http://www.johnmahowald.com" target='blank'>Businesses</a></li>
  	<li><a href="http://www.johnmahowald.com" target='blank'>Media</a></li>
  	<li><a href="http://www.johnmahowald.com" target='blank'>Developers</a></li>
  	<li><a href="http://www.johnmahowald.com" target='blank'>Directory</a></li>
        <li><a href="http://www.johnmahowald.com" target='blank'>&copy; 2015 Twitter</a></li>
</ul>
