<form action="<%= session_url %>" method="POST">
   <%= authenticity_token %>
  <input type="text" name="session[username]" placeholder="Username">
  <input type="password" name="session[password]" placeholder="Password">
  <button type="submit">Log in</button>
</form>


